<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="contact" id="contact">
  <h2 class="heading">Contact <span>Me</span></h2>

  <form action="#" method="POST" id="contactForm">
    <div class="input-box">
      <label for="fullName">Full Name</label>
      <input type="text" id="fullName" name="fullName" placeholder="Full Name" required aria-label="Full Name">
      
      <label for="emailAddress">Email Address</label>
      <input type="email" id="emailAddress" name="emailAddress" placeholder="Email Address" required aria-label="Email Address">
    </div>

    <div class="input-box">
      <label for="mobileNumber">Mobile Number</label>
      <input type="tel" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number" aria-label="Mobile Number">
      
      <label for="emailSubject">Email Subject</label>
      <input type="text" id="emailSubject" name="emailSubject" placeholder="Email Subject" required aria-label="Email Subject">
    </div>
    
    <label for="message">Your Message</label>
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message" required aria-label="Your Message"></textarea>

    <div id="formMessages" class="form-messages"></div>

    <input type="submit" value="Send Message" class="btn">
  </form>
</section>

<section class="square" id="square">
  <h2 class="heading">Quotes</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
        <div class="icon"><i class="fas fa-skull-crossbones"></i></div>
        <h4 class="title"><a href="">Captain Jack Sparrow</a></h4>
        <p class="description">“Not all treasure is silver and gold, mate.”</p>
        <p class="extra">-Pirates of the Caribbean</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class='fas fa-ring'></i></div>
        <h4 class="title"><a href="">Francis Drake</a></h4>
        <p class="description">Sic Parvis Magna</p>
        <p class="extra">-Motto associated with Sir Francis Drake</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="fas fa-user-alt"></i></div>
        <h4 class="title"><a href="">Nathan Drake</a></h4>
        <p class="description">“Greatness From Small Beginnings ...”</p>
        <p class="extra">-Uncharted</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="fas fa-hat-cowboy-side"></i></div>
        <h4 class="title"><a href="">Captain Henry Avery</a></h4>
        <p class="description">“I am a man of fortune and must seek my fortune.”</p>
        <p class="extra">-Attributed to Captain Henry Avery</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="bi bi-binoculars"></i></div>
        <h4 class="title"><a href="">Marco Polo</a></h4>
        <p class="description">“I did not tell half of what I saw… <br>for I knew I would not be believed…”</p>
        <p class="extra">-Attributed to Marco Polo's travels</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="icon-box" data-aos="fade-up">
        <div class="icon"><i class="fab fa-redhat"></i></div>
        <h4 class="title"><a href="">Victor Sullivan</a></h4>
        <p class="description">"Real Greatness Is What You Do With The Hand You're Dealt."</p>
        <p class="extra">-Uncharted</p>
      </div>
    </div>
  </div>
</section>
