<section class="portfolio" id="portfolio">
  <h2 class="heading">Latest <span>Projects</span></h2>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card" data-aos="fade-up" data-aos-delay="100">
          <img src="assets\gif\gif1.gif" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title" data-aos="flip-left">Project 1</h5>
            <p class="card-text">Enrollment Form</p>
            <a href="assets\Projects\02 Laboratory Exercise 1\index.html" class="btn">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card" data-aos="fade-up" data-aos-delay="200">
          <img src="assets\gif\gif2.gif" class="card-img-top" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title" data-aos="flip-left">Project 2</h5>
            <p class="card-text">Color Square</p>
            <a href="assets\Projects\ColorsSquare\index.html" class="btn">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card" data-aos="fade-up" data-aos-delay="300">
          <img src="assets/img/Grid.png" class="card-img-top" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title" data-aos="flip-left">Project 3</h5>
            <p class="card-text">Grid Columns</p>
            <a href="assets\Projects\04_Activity_1\index.html" class="btn">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card" data-aos="fade-up" data-aos-delay="400">
          <img src="assets\gif\gif4.gif" class="card-img-top" alt="Project 4">
          <div class="card-body">
            <h5 class="card-title" data-aos="flip-left">Project 4</h5>
            <p class="card-text">Calculator</p>
            <a href="assets/Projects/Build A Calculator With JavaScript Tutorial/index.html" class="btn">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card" data-aos="fade-up" data-aos-delay="500">
          <img src="assets\gif\gif5.gif" class="card-img-top" alt="Project 5">
          <div class="card-body">
            <h5 class="card-title" data-aos="flip-left">Project 5</h5>
            <p class="card-text">4 SEASONS</p>
            <a href="assets\Projects\4Season\index.html" class="btn">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card" data-aos="fade-up" data-aos-delay="600">
          <img src="assets/gif/gif6.gif" class="card-img-top" alt="Project 6">
          <div class="card-body">
            <h5 class="card-title" data-aos="flip-left">Project 6</h5>
            <p class="card-text">Neumorphism</p>
            <a href="assets\Projects\Neumorphism Navigation Menu\Neumorphism Navigation Menu.html" class="btn">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>