<section class="about" id="about">
  <div class="about-img">
      <img src="assets\img\qweqwr.jpg" alt="">
  </div>

  <div class="about-content">
      <h2 class="heading">About <span>Me</span></h2>
      <br>
      <br>
      <div class="row">
          <div class="col-lg-6">
              <ul>
                  <li data-aos="fade-left"><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> November 14 2001</li>
                  <br>
                  <li data-aos="fade-left"><i class="bi bi-rounded-right"></i> <strong>Gender:</strong> Male</li>
                  <br>
                  <li data-aos="fade-left"><i class="bi bi-rounded-right"></i> <strong>PHONE NUMBER: </strong> 0921 723 8640</li>
                  <br>
                  <li data-aos="fade-left"><i class="bi bi-rounded-right"></i> <strong>ADDRESS:</strong> 25-35 colorado st. Villasol sub. Brgy. Anunas Angeles City Pampanga</li>
              </ul>
          </div>
          <div class="col-lg-6">
              <ul>
                  <li data-aos="fade-right"><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 22</li>
                  <br>
                  <li data-aos="fade-right"><i class="bi bi-rounded-right"></i> <strong>COURSE:</strong> Bachelor of Science in Information Technology</li>
                  <br>
                  <li data-aos="fade-right"><i class="bi bi-rounded-right"></i> <strong>Email:</strong> {{ emailAddress }}</li>
                  <br>
                  <li data-aos="fade-right"><i class="bi bi-rounded-right"></i> <strong>Status:</strong> Single</li>
              </ul>
          </div>
      </div>
      <p class="p2" data-aos="fade-down">
          My name is Jeremi Franco D. Valenzuela, "Franco" I live in Angeles City Pampanga. I am currently enrolled and studying at STI College Angeles.
      </p>
      <a href="#" class="btn">Read more</a>
  </div>
</section>

<section id="skills" class="skills">
  <div class="container1" data-aos="fade-up">
    <div class="section-title">
      <h2 data-aos="flip-left">Skills</h2>
      <p class="p2" data-aos="fade-down-right">
        Networking and Infrastructure: Understanding computer networks, protocols, and network infrastructure is vital.
        This skill involves knowledge of TCP/IP, LAN/WAN configurations, routers, switches, firewalls, and network security.
        It also includes troubleshooting network issues and implementing network solutions.
      </p>
      <br>
      <p class="p2" data-aos="fade-down-right">
        Cybersecurity: With the increasing importance of protecting digital information, cybersecurity skills are highly valued.
        This skill covers knowledge of network security principles, encryption, vulnerability assessment, penetration testing,
        and incident response. It also includes awareness of best practices for securing systems and applications.
      </p>
    </div>
  </div>
</section>

<section id="interests" class="interests">
  <div class="container1" data-aos="fade-up">
    <div class="section-title">
      <h2 data-aos="flip-right">Interests</h2>
      <p class="p2" data-aos="fade-down-right">
        Coding and Programming: I find joy in writing code and seeing my programs come to life. Building software applications,
        creating algorithms, and witnessing the tangible results of my coding efforts bring me a great sense of satisfaction.
        I have a genuine interest in programming, which enhances my ability to learn new languages and frameworks effectively.
      </p>
      <br>
      <p class="p2" data-aos="fade-down-right">
        System Unit Assembly: I have an interest in system unit assembly. I enjoy the process of putting together hardware components
        to create functional computer systems. It is satisfying for me to install the motherboard, CPU, RAM, storage devices, power supply,
        and peripheral devices, ensuring their compatibility and making proper connections. I find it rewarding to engage in hands-on tasks
        and have a deep curiosity about understanding the inner workings of computer systems.
      </p>
    </div>
  </div>
</section>

<section id="goals" class="goals">
  <div class="container1" data-aos="fade-up">
    <div class="section-title">
      <h2 data-aos="flip-left">Goals</h2>
      <p class="p2" data-aos="fade-down-left">
        Specialize in a Specific IT Field: I have set a goal to specialize in a specific IT field during my BSIT program.
        By focusing my studies, I can gain in-depth knowledge and expertise in my chosen area. This specialization will
        open up more career opportunities for me and make me a sought-after professional in that particular field.
      </p>
      <br>
      <p  class="p2" data-aos="fade-down-left">
        My ultimate goal is to successfully complete and graduate from this BSIT course, equipped with the knowledge and skills
        necessary for a successful career in the field.
      </p>
    </div>
  </div>
</section>    

<section id="pictures" class="pictures">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 data-aos="zoom-in">Pictures</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6" data-aos="flip-up">
        <img src="assets\img\WIN_202.png" class="img-fluid" alt="Picture 1">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6" data-aos="zoom-in">
        <img src="assets\img\233.jpg" class="img-fluid" alt="Picture 2">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6" data-aos="flip-right">
        <img src="assets\img\202211.jpg" class="img-fluid" alt="Picture 3">
      </div>
    </div>
  </div>
</section>

