<nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a routerLink="/" class="logo">Portfolio</a>
    <ul>
        <li><a routerLink="/" routerLinkActive="">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Skills</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/employee" routerLinkActive="active">Crud</a></li>
    </ul>
</nav>
<div></div>
