<script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.js"></script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1>Jeremi Franco</h1>
        <h3>And I'm a <span class="multiple-text"> Web Developer</span></h3>
        <p>Hello! I'm Jeremi Franco, a budding web developer excited to learn and grow in the world of web development. I enjoy creating websites that look great and work smoothly. Looking forward to building awesome projects and expanding my skills!</p>
        <div class="social-media">
            <a href="https://www.facebook.com/QuelThalas007/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/JFVal_007"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/vfranco_007/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/jeremi-franco-valenzuela-5a18371a0/"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.twitch.tv/quelthalas007"><i class="fa fa-brands fa-twitch"></i></a>
        </div>
    </div>

    <div class="home-img">
        <img src="assets\img\IMG.jpg" alt="">
    </div>
</section>

