@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #19181b;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .bar {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(145deg, #171618, #1b1a1d);
    box-shadow:  5px 5px 10px #121113, -5px -5px 10px #211f23;
}

.button-container {
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0e0e0e;
    transform: translateY(calc(-80px - 50%));
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.button .light {
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 180px;
    clip-path: polygon(49% 0, 51% 0, 100% 100%, 0 100%);
    pointer-events: none;
    transition: 0.5 ease-in-out;
    transition-delay: 0.1s;
    opacity: 0;
}

.button button {
    font-family: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 108px;
    height: 100px;
    background: linear-gradient(145deg, #171618, #1b1a1d);
    box-shadow:  5px 5px 10px #121113, -5px -5px 10px #211f23;
    border: none;
    color: #0e0e0e;
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.button button i {
    font-size: 36px;
}

.button button span {
    font-size: 14px;
    font-weight: 600;
}

.button:nth-child(1) .light {
    background: linear-gradient(180deg, var(--color), #f0515350, #f0515300);
}

.button:nth-child(2) .light {
    background: linear-gradient(180deg, var(--color), #f0832450, #f0832400);
}

.button:nth-child(3) .light {
    background: linear-gradient(180deg, var(--color), #ebcd1d50, #ebcd1d00);
}

.button:nth-child(4) .light {
    background: linear-gradient(180deg, var(--color), #00adb850, #00adb800);
}

.button:nth-child(5) .light {
    background: linear-gradient(180deg, var(--color), #6aff6050, #6aff6000);
}

.button:hover .light {
    opacity: 1;
}

.button:hover .dot {
    background-color: var(--color);
    box-shadow: 0 0 10px var(--color), 0 0 30px var(--color);
}

.button:hover button {
    color: var(--color);
}